<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>BACKGAMMON</title>
  <link rel="stylesheet" href="../css/stylesheets/game.css" />
  <link rel="stylesheet" href="../css/stylesheets/smokyText.css" />
  <link rel="stylesheet" href="../css/stylesheets/search-opponent.css" />
  <link rel="stylesheet" href="../css/stylesheets/winningOrLosing.css" />
  <audio src="../sound/game_maoudamashii_1_battle37.mp3" autoplay loop></audio>
</head>

<body>
  <main>
    <div class="main-area" id="main-area">
      <div class="board-area" id="board-area">
        <img class="inner-image" src="../image/inner.png" />
        <img class="outer-image" src="../image/inner.png" />
        <img class="my-bearoff" src="../image/bearoff.png" />
        <img class="opponent-bearoff" src="../image/bearoff.png" />
        <div class="smoky-area" id="first-smoky">
          <span class="smoky-span">You GO First</span>
        </div>
        <div class="smoky-area" id="second-smoky">
          <span class="smoky-span">You GO Second</span>
        </div>
        <button type="button" class="undo-button" id="undo-button">undo</button>
        <button type="button" class="my-firstDice" id="my-firstDice-button"><image src="../image/myDice/dice1.png" /></button>
        <button type="button" class="my-secoundDice" id="my-secoundDice-button"><image src="../image/myDice/dice2.png" /></button>
        <button type="button" class="opponent-firstDice" id="opponent-firstDice-button"><image src="../image/opponentDice/dice1.png" /></button>
        <button type="button" class="opponent-secoundDice" id="opponent-secoundDice-button"><image src="../image/opponentDice/dice2.png" /></button>
        <hr class="diceBorderBaseStyle diceBorderStyle1">
        <hr class="diceBorderBaseStyle diceBorderStyle2">
        <hr class="diceBorderBaseStyle diceBorderStyle3">
        <hr class="diceBorderBaseStyle diceBorderStyle4">
        <hr class="diceBorderBaseStyle diceBorderStyle5">
        <hr class="diceBorderBaseStyle diceBorderStyle6">
        <hr class="diceBorderBaseStyle diceBorderStyle7">
        <hr class="diceBorderBaseStyle diceBorderStyle8">
        <hr class="diceBorderBaseStyle diceBorderStyle9">
        <hr class="diceBorderBaseStyle diceBorderStyle10">
      </div>
      <div class="information-area">
        <div class="opponent-area">
          <div class="player-name">
            <img class="piece-image" src="../image/opponent_piece.png" />
            <span id="opponent-information-name" class="player-name">name</span>
          </div>
          <img id="opponent-information-icon" class="icon-image" src="" />
          <div class="pip-count" id="opponent-pipCount">167</div>
          <div class="timelimit-title">持ち時間</div>
          <div class="timelimit" id="opponent-timeLimit">10:00</div>
        </div>
        <div class="my-area">
          <div class="player-name">
            <img class="piece-image" src="../image/my_piece.png" />
            <span id="my-information-name" class="player-name">name</span>
          </div>
          <img id="my-information-icon" class="icon-image" src="" />
          <div class="pip-count" id="my-pipCount">167</div>
          <div class="timelimit-title">持ち時間</div>
          <div class="timelimit" id="my-timeLimit">10:00</div>
          <button type="button" class="giveup-button" id="giveup-button">giveup</button>
        </div>
        <div id="information-area-wrapper" class="informationAreaWrapper"></div>
      </div>
      <div id="searchOpponent" class="searchOpponentArea">
        <button type="button" class="searchOpponentGoToTopButton" id="searchOpponent-go-top-button">Top</button>
        <span id="loadingLabel" class="loading">Loading<span></span></span>
        <div id="search-results" class="search-results">
          <img id="my-icon" class="my-icon" src="" />
          <label id="my-name" class="my-name"></label>
          <img id="versus-image" class="versus" src="../image/versus.png" />
          <img id="opponent-icon" class="opponent-icon" src="" />
          <label id="opponent-name" class="opponent-name"></label>
        </div>
      </div>
      <div id="winning-losing-area" class="winningOrLosingArea">
        <button type="button" class="goToTopButton" id="go-to-top-button">Top</button>
        <div id="win-lose-label" class="winningOrLosing"></div>
        <div id="winning-losing-reason" class="winningOrLosingReason"></div>
        <img id="winning-losing-my-icon" class="winningOrLosingMyIcon" src="">
        <label id="winning-losing-my-name" class="winningOrLosingMyName"></label>
        <img id="winning-losing-opponent-icon" class="winningOrLosingOpponentIcon" src="">
        <label id="winning-losing-opponent-name" class="winningOrLosingOpponentName"></label>
        <img id="winner-icon" class="winnerIcon" src="../image/winner.png">
        <img id="loser-icon" class="loserIcon" src="../image/loser.png">
      </div>
    </div>
  </main>
  <script src="../script/game-view-controller-loader.js"></script>
</body>

</html>
