<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>BACKGAMMON</title>
  <link rel="stylesheet" href="../css/stylesheets/game.css" />
  <link rel="stylesheet" href="../css/stylesheets/smokyText.css" />
  <link rel="stylesheet" href="../css/stylesheets/search-opponent.css" />
  <link rel="stylesheet" href="../css/stylesheets/winningOrLosing.css" />
  <audio src="../sound/game_maoudamashii_1_battle37.mp3" autoplay loop></audio>
</head>

<body>
  <main>
    <div class="main-area">
      <div id="boardArea" class="board-area">
        <img class="inner-image" src="../image/inner.png" />
        <img class="outer-image" src="../image/inner.png" />
        <img class="my-bear-off-image" src="../image/bearoff.png" />
        <img class="opponent-bear-off-image" src="../image/bearoff.png" />
        <div id="firstSmoky" class="smoky-area">
          <span class="smoky-span">You GO First</span>
        </div>
        <div id="secondSmoky" class="smoky-area">
          <span class="smoky-span">You GO Second</span>
        </div>
        <button type="button" id="undoButton" class="undo-button">undo</button>
        <button type="button" id="doubleButton" class="double-button">DOUBLE</button>
        <button type="button" id="rollButton" class="roll-button">ROLL</button>
        <button type="button" id="takeButton" class="take-button">TAKE</button>
        <button type="button" id="passButton" class="pass-button">PASS</button>
        <img id="takeImage" class="take-image" src="../image/take.png">
        <button type="button" id="myFirstDiceButton" class="my-first-dice-button"><image src="../image/myDice/dice1.png" /></button>
        <button type="button" id="mySecoundDiceButton" class="my-secound-dice-button"><image src="../image/myDice/dice2.png" /></button>
        <button type="button" id="opponentFirstDiceButton" class="opponent-first-dice-button"><image src="../image/opponentDice/dice1.png" /></button>
        <button type="button" id="opponentSecoundDiceButton" class="opponent-secound-dice-button"><image src="../image/opponentDice/dice2.png" /></button>
        <hr class="dice-border-base dice-border01">
        <hr class="dice-border-base dice-border02">
        <hr class="dice-border-base dice-border03">
        <hr class="dice-border-base dice-border04">
        <hr class="dice-border-base dice-border05">
        <hr class="dice-border-base dice-border06">
        <hr class="dice-border-base dice-border07">
        <hr class="dice-border-base dice-border08">
        <hr class="dice-border-base dice-border09">
        <hr class="dice-border-base dice-border10">
      </div>
      <div class="information-area">
        <div class="opponent-area">
          <div class="player-name">
            <img class="piece-image" src="../image/opponent_piece.png" />
            <span id="opponentInformationName" class="player-name">name</span>
          </div>
          <img id="opponentInformationIcon" class="icon-image" src="" />
          <div id="opponentPipCount" class="pip-count">167</div>
          <div class="timelimit-title">持ち時間</div>
          <div id="opponentTimeLimit" class="timelimit">10:00</div>
        </div>
        <div class="my-area">
          <div class="player-name">
            <img class="piece-image" src="../image/my_piece.png" />
            <span id="myInformationName" class="player-name">name</span>
          </div>
          <img id="myInformationIcon" class="icon-image" src="" />
          <div id="myPipCount" class="pip-count">167</div>
          <div class="timelimit-title">持ち時間</div>
          <div id="myTimeLimit" class="timelimit">10:00</div>
          <button type="button" id="giveupButton" class="giveup-button">giveup</button>
        </div>
        <div id="informationAreaWrapper" class="information-area-wrapper"></div>
      </div>
      <div id="searchOpponent" class="search-opponent-area">
        <button type="button" class="search-opponent-go-to-top-button" id="searchOpponentGoToTopButton">Top</button>
        <span id="searchingLabel" class="searching">対戦相手を検索中...<span></span></span>
        <div id="searchResults" class="search-results">
          <img id="searchResultsMyIcon" class="my-icon" src="" />
          <label id="searchResultsMyName" class="my-name"></label>
          <img class="versus" src="../image/versus.png" />
          <img id="searchResultsOpponentIcon" class="opponent-icon" src="" />
          <label id="searchResultsOpponentName" class="opponent-name"></label>
        </div>
      </div>
      <div id="winningLosingArea" class="winning-losing-area">
        <button type="button" id="goToTopButton" class="go-top-button">Top</button>
        <div id="winLoseLabel" class="winning-losing"></div>
        <div id="winningLosingReason" class="winning-losing-reason"></div>
        <img id="winningLosingMyIcon" class="winning-losing-my-icon" src="">
        <label id="winningLosingMyName" class="winning-losing-my-name"></label>
        <img id="winningLosingOpponentIcon" class="winning-losing-opponent-icon" src="">
        <label id="winningLosingOpponentName" class="winning-losing-opponent-name"></label>
        <img id="winnerIcon" class="winner-icon" src="../image/winner.png">
        <img id="loserIcon" class="loser-icon" src="../image/loser.png">
      </div>
    </div>
  </main>
  <script src="../script/game-view-controller-loader.js"></script>
</body>

</html>
