<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>BACKGAMMON</title>
        <link rel="stylesheet" href="../css/stylesheets/search-opponent.css" />
        <link rel="stylesheet" href="../css/stylesheets/snowfall.css" />
    </head>
    <body class="snowfall">
        <main>
          <div id="spin-area">
            <from>
            <input class="back" type="image" src="../image/back-button.png" value="戻る" onClick="history.back()">
          </from>
          <div>
          <label class="searchOpponent">対戦相手 待ち</label>
        </main>

        <script src="../script/search-opponent-view-controller-loader.js"></script>
   </body>
</html>
