<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>BACKGAMMON</title>
  <link rel="stylesheet" href="../css/stylesheets/search-opponent.css" />
  <link rel="stylesheet" href="../css/stylesheets/snowfall.css" />
</head>

<body class="snowfall">
  <div class="snowfall">
    <div id="searchOpponent" class="searchOpponent">
      <div id="spin-area">
        <from>
          <input class="back" type="image" src="../image/back-button.png" value="戻る" onClick="history.back()">
        </from>
        <label id="searchOpponent" class="searchOpponent">対戦相手 待ち</label>
        <div id="search-results" class="search-results">
          <img id="my-icon" class="my-icon" src="" />
          <label id="my-name" class="my-name"></label>
          <img id="versus-image" class="versus" src="../image/versus.png" />
          <img id="opponent-icon" class="opponent-icon" src="" />
          <label id="opponent-name" class="opponent-name"></label>
        </div>
      </div>
    </div>
  </div>
  <script src="../script/search-opponent-view-controller-loader.js"></script>
</body>

</html>
