<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>BACKGAMMON</title>
        <link rel="stylesheet" href="../css/stylesheets/title.css" />
    </head>
	</header>
    <body class="snowfall">
        <main>
            <div class="title">
                <img src="../image/title.png" />
            </div>
            <img class="dice" src="../image/dice.gif" />
            <div class="menue-field">
                <button type="button" class="menu" id="button-battle"><img src="../image/start.gif" alt="start"/></button>
            </div>
        </main>
        <script src="../script/title-view-controller-loader.js"></script>
   </body>
</html>
