<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>BACKGAMMON</title>
  <link rel="stylesheet" href="../css/stylesheets/title.css" />
  <link rel="stylesheet" href="../css/stylesheets/snowfall.css" />
  <link rel="stylesheet" href="../css/stylesheets/show-menu.css" />
</head>
</header>

<body class="snowfall">
  <main id="main" ondragover="return false">
    <div id="menu">
      <span id="showMenu" class="show-menu"></span>
      <div class="inner">
        <button type="button" id="button-register">登録</button><br>
        <label id="userInfoTitleLabel">ユーザー情報</label><br><br>
        <!--
                https://qiita.com/amamamaou/items/1b51c834d62c8567fad4
              -->
        <label id="nameLabelArea">名前: <input id="nameValue" type="text" value="" placeholder="ユーザー名" ></label><br>
        <label id="iconLabelArea">アイコン: </label>
        <div id="dropArea">Drop or Click here!</div><br>
        <input id="fileInput" type="file" accept="image/*">
        <label id="winLossRecordLabelArea">対戦成績: <label id="winLabelArea">010勝</label><label id="lossLabelArea">001負</label></label><br>
        <label id="chipsLabelArea">チップ: <label id="chipsValueLabelArea">$1000</label></label>
        <button type="button" id="button-buy">購入</button><br>
      </div>
      <!-- /.inner -->
    </div>
    <div class="title">
      <img src="../image/title.png" />
    </div>
    <a href="http://www.animatedimages.org/cat-dice-710.htm"><img src="http://www.animatedimages.org/data/media/710/animated-dice-image-0020.gif" border="0" alt="animated-dice-image-0020"/></a>
    <div id="spin-area" class="menue-field">
      <button type="button" class="menu" id="button-battle"><img src="../image/start.gif" alt="start"/></button>
    </div>
  </main>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  <script src="../script/title-view-controller-loader.js"></script>
  <script src="../script/show-menu.js"></script>
</body>

</html>
