<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>BACKGAMMON</title>
        <link rel="stylesheet" href="../css/title.css" />
    </head>
	</header>
        <main>    	
            <div class="title">
                <img src="../image/title.png" />
            </div>

            <!-- -todo 画像差し替え （リンクを飛ばしたくないがこのgifを使う条件なので仕方なく）-->
            <a href="http://www.animatedimages.org/cat-dice-710.htm"><img src="http://www.animatedimages.org/data/media/710/animated-dice-image-0020.gif" border="0" alt="animated-dice-image-0020"/></a>

            <div class="menue-field">
                <button type="button" class="menu" id="button-battle"><img src="../image/start.gif" alt="start"/></button>
            </div>
        </main>
        <script src="../script/title-view-controller-loader.js"></script>
   </body>
</html>
