@charset 'UTF-8';
body {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  /* background: linear-gradient(green,white, green); */
}

label.searchOpponent {
  position: relative;
  top: 380px;
  right: 0px;
  color: #33ff66;
  font-size: 170%;
  opacity: 0.5;
  animation-name: animation01;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

@keyframes animation01 {
  0% {
    opacity: 0.2;
    color: #33ff00;
  }
  50% {
    opacity: 0.5;
    color: #33ff66;
  }
  100% {
    opacity: 0.2;
    color: #33ff00;
  }
}

input.back {
  position: relative;
  width: 50px;
  height: 50px;
  float: left;
  opacity: 0.7;
}

div.search-results {
  display: none;
  position: absolute;
  top: 150px;
  left: 100px;
  width: 600px;
  height: 300px;
  animation-name: fade-in;
  animation-duration: 10s;
}

@keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

img.my-icon {
  position: absolute;
  border: solid 1px #000;
  top: 40px;
  left: 30px;
  width: auto;
  height: auto;
  box-sizing: border-box;
  max-width:150px;
  max-height:150px;
}

label.my-name {
  position: absolute;
  top: 200px;
  left: 30px;
  color: #ffebcd;
  font-size: x-large;
}

img.opponent-icon {
  position: absolute;
  border: solid 1px #000;
  top: 40px;
  left: 420px;
  width: auto;
  height: auto;
  box-sizing: border-box;
  max-width:150px;
  max-height:150px;

}

label.opponent-name {
  position: absolute;
  top: 200px;
  left: 420px;
  color: #ffebcd;
  font-size: x-large;
}

img.versus {
  position: absolute;
  top: 50px;
  left: 225px;
  width: 150px;
  height: 150px;
  box-sizing: border-box;
}
