@charset 'UTF-8';
div.search-opponent-area {
  display: block;
  position: absolute;
  top: 100px;
  left: 15px;
  width: 600px;
  height: 300px;
  background-color: rgba(0, 100, 0, 0.9);
  background-color: rgba(0, 0, 0, 0.8);
}

span.searching {
  position: relative;
  display: inline-block;
  top: 130px;
  left: 156px;
  font-family: "arial black", sans-serif;
  font-size: xx-large;
  color: #FFF;
}

span.searching span {
  position: absolute;
  display: inline-block;
  left: 0;
  top: 100%;
  width: 100%;
  height: 2px;
  background-position: 0 0;
  background-image: linear-gradient(to right, #FFF, transparent);
  -webkit-animation: searchingAnimation 2s linear infinite;
  animation: searchingAnimation 2s linear infinite;
}

@keyframes searchingAnimation {
  0% {
    width: 0;
    background-color: transparent;
  }
  40% {
    width: 100%;
    background-color: transparent;
  }
  80% {
    width: 100%;
    background-color: #36f;
  }
  100% {
    width: 100%;
    background-color: #36f;
  }
}

button.search-opponent-go-to-top-button {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  font-size: large;
  position: absolute;
  left: 520px;
  color: #248;
  outline: none;
  border: solid 2px #248;
  border-radius: 3px;
  transition: .4s;
  outline: none;
}

button.search-opponent-go-to-top-button:hover {
  background: #248;
  color: white;
}

div.search-results {
  display: none;
  position: absolute;
  top: 50px;
  left: 0px;
  width: 600px;
  height: 300px;
  animation-name: fade-in;
  animation-duration: 10s;
}

@keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

img.my-icon {
  position: absolute;
  border: solid 1px #000;
  top: 40px;
  left: 30px;
  width: auto;
  height: auto;
  box-sizing: border-box;
  max-width: 150px;
  max-height: 150px;
}

label.my-name {
  position: absolute;
  top: 200px;
  left: 30px;
  color: #ffebcd;
  font-size: x-large;
  text-shadow: 1px 1px 0 #09f
}

img.opponent-icon {
  position: absolute;
  border: solid 1px #000;
  top: 40px;
  left: 420px;
  width: auto;
  height: auto;
  box-sizing: border-box;
  max-width: 150px;
  max-height: 150px;
}

label.opponent-name {
  position: absolute;
  top: 200px;
  left: 420px;
  color: #ffebcd;
  font-size: x-large;
  text-shadow: 1px 1px 0 #f00
}

img.versus {
  position: absolute;
  top: 50px;
  left: 225px;
  width: 150px;
  height: 150px;
  box-sizing: border-box;
}
