@charset 'UTF-8';
body {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

div.option {
  text-align: right;
}

button.option {
  background-color: transparent;
  border: 0;
  margin-right: 10px;
}

div.title {
  margin-top: 20px;
}

div.menu-field {}

button.battle-start-button {
  margin-top: 100px;
  background-color: transparent;
  border: 0;
  outline: none;
}

img.dice {
  width: 142px;
  height: 92px;
}
