div.winning-losing-area {
  display: none;
  position: absolute;
  top: 100px;
  left: 15px;
  width: 600px;
  height: 300px;
  background-color: rgba(0, 100, 0, 0.9);
}

button.go-top-button {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  font-size: large;
  position: absolute;
  left: 520px;
  color: #248;
  border: solid 2px #248;
  border-radius: 3px;
  transition: .4s;
}

button.go-top-button:hover {
  background: #248;
  color: white;
}

div.winning-losing {
  width: 300px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-family: "arial black", sans-serif;
  font-size: xx-large;
  color: #FFF;
  text-shadow: 3px 3px 0 #f00;
}

div.winning-losing-reason {
  width: 300px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-family: "arial black", sans-serif;
  font-size: large;
  color: #FFF;
  text-shadow: 1px 1px 0 #09f
}

img.winning-losing-my-icon {
  position: absolute;
  border: solid 1px #000;
  top: 80px;
  left: 70px;
  width: auto;
  height: auto;
  box-sizing: border-box;
  max-width: 150px;
  max-height: 150px;
}

label.winning-losing-my-name {
  position: absolute;
  top: 240px;
  left: 70px;
  color: #ffebcd;
  font-size: x-large;
  text-shadow: 1px 1px 0 #09f
}

label.winning-losing-my-chips {
  position: absolute;
  top: 270px;
  left: 150px;
  color: #ffebcd;
  font-size: x-large;
  text-shadow: 1px 1px 0 #09f
}

img.winning-losing-opponent-icon {
  position: absolute;
  border: solid 1px #000;
  top: 80px;
  left: 380px;
  width: auto;
  height: auto;
  box-sizing: border-box;
  max-width: 150px;
  max-height: 150px;
}

label.winning-losing-opponent-name {
  position: absolute;
  top: 240px;
  left: 380px;
  color: #ffebcd;
  font-size: x-large;
  text-shadow: 1px 1px 0 #f00
}

img.winner-icon {
  position: absolute;
  top: 150px;
  left: 10px;
  width: auto;
  height: auto;
  box-sizing: border-box;
  max-width: 90px;
  max-height: 90px;
}

img.loser-icon {
  position: absolute;
  top: 150px;
  left: 340px;
  width: auto;
  height: auto;
  box-sizing: border-box;
  max-width: 90px;
  max-height: 90px;
}
